@import '../../../../styles/variables.scss';

$HIDDEN_WIDTH: 40px;
$DESKTOP_WIDTH: 300px;

.sidebar-mobile {
  background-color: $rocks-blue;
  position: relative;
  width: $HIDDEN_WIDTH;

  button {
    display: block;
    margin: auto;
    padding: 5px 0;
    width: 34px;

    img {
      width: 100%;
    }
  }

  .content {
    align-items: center;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: absolute;
    right: $HIDDEN_WIDTH;
    top: 0;
    width: 100vw;

    .close {
      padding: 0;
      position: absolute;
      right: 10px;
      top: 10px;
      width: 30px;
    }

    .logo {
      margin-top: 8vh;
      width: 130px;
    }

    .links {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      li {
        flex-grow: 0;

        a {
          border-bottom: 3px solid transparent;
          box-sizing: border-box;
          color: $link-yellow;
          display: block;
          font-size: 25px;
          font-weight: 600;
          margin: 12px 0;
          padding: 5px 0;
          text-align: center;
          text-decoration: none;
          transition: border-color 0.2s;

          &:hover {
            border-bottom: 3px solid $link-yellow-transparent;
          }

          &.active {
            border-bottom: 3px solid $link-yellow;
          }
        }
      }
    }

    .icon-footer {
      padding-bottom: 30px;
      a {
        margin: 6px;

        img {
          width: 24px;
        }
      }
    }
  }
}

@media (min-width: $tablet-max) {
  .sidebar-mobile {
    width: $DESKTOP_WIDTH;

    button {
      display: none;
    }

    .content {
      position: static;
      width: $DESKTOP_WIDTH;
    }
  }
}
