.not-accepted {
  height: 100vh;
  width: 100vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #007883;

  h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
}
