@import '../../../../styles/variables.scss';

.day {
  background-color: white;
  box-sizing: border-box;
  margin: 30px 0;
  padding: 20px 70px;
  width: 100%;

  h2 {
    border-bottom: 5px solid $header-red;
    box-sizing: border-box;
    color: $header-red;
    display: inline-block;
    font-size: 27px;
    font-weight: bold;
    padding: 15px 0 5px 0;
    text-align: left;
  }

  .events {
    display: grid;
    grid-auto-rows: auto;
    grid-row-gap: 0;
    grid-template-columns: 1fr 2.8fr 2.8fr;
    margin: 44px 0;

    p {
      color: $p-dark-blue;
    }

    .time {
      border-right: 1px solid $header-red;
      grid-column: 1;
      padding-bottom: 24px;
      padding-right: 40px;

      p {
        font-size: 15px;
        text-align: right;
      }
    }
    .details {
      padding-bottom: 24px;
      padding-left: 40px;
      p.name {
        font-size: 18px;
        margin-bottom: 5px;
      }
      p.location {
        font-size: 15px;
        line-height: 18px;
      }
    }
    .details-a {
      border-right: 1px solid $header-red;
      grid-column: 2;
    }
    .details-b {
      grid-column: 3;
    }
  }
}
