@import './theme.scss';
@import './variables.scss';

body {
  margin: 0;

  #root {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    input {
      font-family: 'Montserrat', sans-serif;
    }
  }
}

button {
  background: transparent;
  border: none;
  outline: none;
}

b {
  font-weight: 700;
}

.ocean-screen {
  @include ocean-gradient;
  height: 100vh;
  position: relative;
}

.button-blue {
  background-color: $button-blue;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  padding: 15px 40px;
  text-decoration: none;
  text-transform: uppercase;
}
