body {
  margin: 0;

  #root {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    input {
      font-family: 'Montserrat', sans-serif;
    }
  }
}

button {
  background: transparent;
  border: none;
  outline: none;
}
