$mobile-max: 520px;
$tablet-min: 521px;
$tablet-max: 970px;
$desktop-min: 971px;

$ocean-dark: #002d3e;
$ocean-light: #224d5b;

$upper-sky: #ea4841;
$lower-sky: #cccc99;
$sun: #e9e093;
$sun-width: 375px;
$upper-sea: #349199;
$lower-sea: #017680;

$mobile-sun-width: 280px;
