@import '../../styles/variables.scss';

.dayof-wrapper {
  overflow: hidden;

  .dayof {
    display: flex;
    flex-direction: row;
    height: 100vh;
    max-width: 100vw;
    transition: transform 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
    width: 100vw;

    &.sidebar-open {
      transform: translateX(100vw);
    }

    .view-upper {
      display: block;
      height: 100vh;
      margin: auto;
      overflow: hidden;
      position: relative;
      width: 82%;
      z-index: 1;

      .view-wrapper {
        box-sizing: content-box;
        height: 100%;
        overflow-y: scroll;
        padding-right: 17px;
        width: 100%;

        h1 {
          text-align: left;
        }
      }
    }
  }
}

@media (max-width: $tablet-max - 1px) {
  .dayof-wrapper .dayof .ocean-scene {
    .left-rocks,
    .right-rocks {
      display: none;
    }
  }
}
