.dayof-wrapper {
  overflow: hidden;

  .dayof {
    display: flex;
    flex-direction: row;
    height: 100vh;
    max-width: 100vw;
    transition: transform 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
    width: 100vw;

    &.sidebar-open {
      transform: translateX(100vw);
    }

    .ocean-scene {
      .left-rocks,
      .right-rocks {
        display: none;
      }
    }
  }
}
