.slider {
  width: 100%;
  margin-bottom: 15px;

  label p {
    color: #ececec;
    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
    width: 100%;
    position: relative;
  }
  label {
    width: 100%;
  }

  .actual-slider-cont {
    position: relative;
    height: 20px;
    width: 100%;

    .actual-slider {
      position: absolute;
      top: 5px;
      -webkit-appearance: none;
      width: 100%;
      background: transparent;
    }

    .track {
      height: 1px;
      position: absolute;
      top: 11px;
      background-color: white;
      width: 100%;
      z-index: 6;
    }
  }
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type='range']:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }

  input[type='range']::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  /* Special styling for WebKit/Blink */
  input[type='range']::-webkit-slider-thumb {
    position: relative;
    height: 10px;
    width: 10px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: grab;
    background-color: #308f97;
    z-index: 10;
  }

  /* All the same stuff for Firefox */
  input[type='range']::-moz-range-thumb {
    position: relative;
    height: 10px;
    width: 10px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: grab;
    background-color: #308f97;
    z-index: 20;
  }

  /* All the same stuff for IE */
  input[type='range']::-ms-thumb {
    position: relative;
    height: 10px;
    width: 10px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: grab;
    background-color: #308f97;
    z-index: 10;
  }

  input[type='range']::-moz-range-track {
    background: transparent;
  }
}
