@import '../../../../styles/variables.scss';

$GRID_SPACING_L: 40px;
$GRID_SPACING_M: 30px;

.travel {
  background-color: white;
  box-sizing: border-box;
  margin: 30px 0;
  padding: 40px 70px;
  width: 100%;

  @media (max-width: 650px) {
    padding: 40px 50px;
  }

  @media (max-width: 450px) {
    padding: 25px 30px;
  }

  @media (max-width: 350px) {
    padding: 25px 20px;
  }

  h2 {
    border-bottom: 5px solid $header-red;
    box-sizing: border-box;
    color: $header-red;
    display: inline-block;
    font-size: 27px;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 40px;
    text-align: left;

    @media (max-width: 450px) {
      margin-bottom: 25px;
      font-size: 24px;
    }

    @media (max-width: 350px) {
      font-size: 21px;
    }
  }

  .travel-plan {
    h4 {
      box-sizing: border-box;
      color: $header-red;
      display: inline-block;
      font-size: 18px;
      padding-bottom: 20px;
      font-weight: bold;
      text-align: left;

      @media (max-width: 450px) {
        font-size: 15px;
      }
    }

    .itinerary {
      display: grid;
      grid-auto-rows: auto;
      grid-row-gap: 15px;
      grid-template-columns: (80px + $GRID_SPACING_L) 1fr;
      font-size: 15px;
      margin-bottom: 40px;

      @media (max-width: 500px) {
        grid-template-columns: 80px;
      }

      @media (max-width: 450px) {
        font-size: 12px;
        margin-bottom: 30px;
      }

      p {
        color: $p-dark-blue;
      }

      .itinerary-type {
        padding-left: 5px;
        grid-column-start: 1;
      }

      .itinerary-details {
        grid-column-start: 2;
      }

      .itinerary-time {
        font-size: 18px;
        padding-bottom: 10px;

        @media (max-width: 450px) {
          font-size: 15px;
        }
      }

      .itinerary-location {
        padding-bottom: 3px;
        line-height: 1.2;
      }
    }
  }
}

@media (max-width: 1200px) {
  .day {
    padding: 20px 30px;
  }
}
