@import '../../styles/variables.scss';
@import '../../styles/theme.scss';

$cloud-width: 1300px;
$sky-height: 520px;
$wave-offset: 70px;

.home {
  .sky {
    position: relative;
    height: $sky-height;
    background-image: linear-gradient(180deg, $upper-sky, $lower-sky);

    .cloud-wrapper {
      position: absolute;
      width: 100%;
      overflow: hidden;

      .clouds {
        position: relative;
        display: block;
        width: $cloud-width;
        margin-top: 20px;
        margin-left: -($cloud-width / 2);
        left: 50%;
      }
    }

    .sun-wrapper {
      padding-top: 130px;
      .sun {
        height: $sun-width;
        width: $sun-width;
        border-radius: 50%;
        margin: auto;
        background-image: linear-gradient(180deg, rgba(233, 224, 147, 1), rgba(233, 224, 147, 0));

        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 45px;

        color: white;

        > img {
          width: 120px;
        }

        h1 {
          text-transform: uppercase;
          font-size: 44px;
          font-weight: bold;
        }

        p {
          font-size: 22px;
        }
      }
    }

    .rocks-top {
      position: absolute;
      bottom: $wave-offset - 19px;
      left: 0;
      width: 420px;
    }
  }

  .water {
    margin-top: -$wave-offset;
    position: relative;
    width: 100%;

    > img {
      position: absolute;
      z-index: 1;
    }

    .wave-mid {
      top: 35px;
    }

    .wave-front {
      top: 55px;
    }

    .rocks {
      position: relative;
      top: $wave-offset;
      background-image: linear-gradient(rgba($upper-sea, 0), rgba($upper-sea, 1) 20%);
      // height: calc(100vh - #{$sky-height - $wave-offset});
      // z-index: 0;

      .rocks-bottom {
        margin-top: 100px;
        width: 100%;
      }
    }
  }
}
