@import '../../styles/variables.scss';

$form-width: 500px;

.ocean-scene {
  h1 {
    position: relative;
    padding-top: 62px;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 44px;
    z-index: 5;
  }

  #form-view {
    margin: auto;
    padding: 60px 40px 0 40px;
    position: relative;
    z-index: 5;
    max-width: $form-width;

    .form-transition {
      position: relative;
      opacity: 0;
    }

    .hidden {
      display: none;
    }

    .split {
      display: flex;
      flex-direction: row;

      > *:first-child {
        margin-right: 20px;
      }

      > *:last-child {
        margin-left: 20px;
      }
    }
  }

  .nav-buttons {
    display: flex;
    flex-direction: row;
    margin: auto;
    opacity: 0;
    padding-top: 20px;
    position: absolute;
    top: 100px;
    width: calc(100% - 80px);

    button {
      border: 2px solid white;
      border-radius: 100px;
      color: white;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      padding: 6px 18px;
      transition: color 0.2s, border-color 0.2s;

      &:disabled {
        border-color: $white-greyed;
        color: $white-greyed;
        cursor: unset;
      }
    }

    .spacing {
      flex-grow: 1;
    }
  }

  @media (max-height: 760px) {
    h1 {
      padding-top: 50px;
    }

    #form-view {
      padding-top: 15px;
    }
  }

  @media (max-height: 680px) {
    h1 {
      padding-top: 35px;
    }

    .form-field {
      padding-bottom: 10px;

      input {
        padding-top: 0px;
      }
    }
  }
}
