@import '../../../../../styles/variables.scss';

.language-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .instructions {
    margin-bottom: 20px;
    text-align: center;

    h2 {
      color: white;
      font-weight: 700;
      font-size: 19px;
      line-height: 23px;
    }
    h3 {
      color: #ececec;
      font-weight: 300;
      font-size: 15px;
      line-height: 23px;
    }
    @media (max-width: $mobile-max) {
      h2 {
        font-size: 12px;
        line-height: 14px;
      }
      h3 {
        font-size: 10px;
        line-height: 14px;
      }
    }
  }

  .slider-cont {
    width: 80%;
  }
}
