$link-height: 20px;
$link-yellow: #fcca88;

.sidebar {
  background-color: #00242c;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    padding: 45px;

    li {
      padding: 24px 0;
      display: flex;
      flex-direction: row;
      align-items: center;

      &.sidebar-link .bubble {
        width: $link-height;
        height: $link-height;
        border-radius: 50%;
        border: 3px solid $link-yellow;
        margin-right: 15px;

        &.active {
          background-color: $link-yellow;
        }
      }

      p {
        color: $link-yellow;
        line-height: $link-height;
      }
    }
  }
}
