@import '../../../../styles/variables.scss';

$form-width: 500px;

.scrollable-form {
  background-image: linear-gradient(
    0deg,
    #017680 0%,
    #1d858e 16%,
    #1f868f 18%,
    #349199 49%,
    #2a8c94 54%,
    #0c7c86 72%,
    #017680 82%
  );
  flex-grow: 1;
  position: relative;

  h1 {
    position: relative;
    padding-top: 62px;
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 44px;
    z-index: 5;
  }

  .form-view {
    margin: auto;
    padding-top: 60px;
    position: relative;
    width: $form-width;
    z-index: 5;

    .form-transition {
      position: relative;
      opacity: 0;
    }

    .hidden {
      display: none;
    }

    .split {
      display: flex;
      flex-direction: row;

      > *:first-child {
        padding-right: 20px;
      }

      > *:last-child {
        padding-left: 20px;
      }
    }
  }

  .nav-buttons {
    display: flex;
    flex-direction: row;
    margin: auto;
    opacity: 0;
    padding-top: 20px;
    position: absolute;
    top: 100px;
    width: $form-width;

    button {
      border: 2px solid white;
      border-radius: 100px;
      color: white;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      padding: 6px 18px;
      transition: color 0.2s, border-color 0.2s;

      &:disabled {
        border-color: $white-greyed;
        color: $white-greyed;
        cursor: unset;
      }
    }

    .spacing {
      flex-grow: 1;
    }
  }

  .rocks {
    position: absolute;
    top: 0;
    z-index: 2;
    height: 100vh;
  }

  .left-rocks {
    left: -1px;
  }
  .right-rocks {
    right: -1px;
  }
  .currents {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    min-width: 1100px;
    opacity: 0.2;
  }
  .fish1 {
    position: absolute;
    bottom: 60px;
    right: 45px;
    width: 150px;
  }
  .fish2 {
    position: absolute;
    top: 30px;
    left: 0;
    width: 250px;
  }
}
