name: Hack-Illinois Challenge Pipeline

on:
    push:
        branches: [pages]
    pull_request:
        branches: [pages]

jobs:
    deploy:
        name: Deploy
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [11.x]

        steps:
            - uses: actions/checkout@v2
            - name: Use Node ${{ matrix.node-version }}
              uses: actions/setup-node@v2
              with:
                  node-version: ${{ matrix.node-version }}
            - run: npm i
            - run: npm run build
            - run: mv public/favicon.ico build/favicon.ico
            - run: mv public/manifest.json build/manifest.json
            - name: Deploy to gh-pages
              uses: peaceiris/actions-gh-pages@v3
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: ./build